<form class="form" #form="ngForm" (ngSubmit)="logForm(form.value)">
  <fieldset ngModelGroup="fio">
    <label>firstname</label>
    <input type="text" name="userFirstName" [(ngModel)]="user.name.first" />

    <label>lastname</label>
    <input type="text" name="userLastName" [(ngModel)]="user.name.last" />
  </fieldset>

  <fieldset ngModelGroup="address">
    <label>street</label>
    <input type="text" name="userStreet" [(ngModel)]="user.street" />

    <label>zip</label>
    <input type="text" name="userZip" [(ngModel)]="user.zip" />

    <label>city</label>
    <input type="text" name="userCity" [(ngModel)]="user.city" />
  </fieldset>

  <fieldset>
    <button type="submit">submit</button>
  </fieldset>
</form>
