$size: 28px;

.psb-control {
  display: flex;
  align-items: center;

  &__icon {
    width: $size;
    height: $size;
    border-radius: $size / 2;
    background-color: firebrick;
    margin-right: 10px;
  }

  &__input {
    margin-right: 20px;
  }
}
